<h1>Admin</h1>
<% @posts.each do |post| %>
   <div class="container myPosts well">
      <h3><%= post.title %></h3>
      <p><%= post.body %></p>
      <%= link_to "More Actions", post_path(post), :class => 'btn btn-primary' %>
   </div>
<% end %>